.wallpaper-info{
    position:absolute;
    width:70%;
    height:200px;
    top:50px;
    left:0;right:0;
    margin-left:auto;margin-right:auto;
    background-image: url(https://wallpapercave.com/wp/wp2044116.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    // background-attachment: fixed;
    background-size: cover;
    border-radius:5px;
    box-shadow:0 0 20px rgba(0,0,0,0.3)
  }

.crypto {
    position:relative;
    top: 500px;
}